@import url(product-sans-font/style.css);
@import url(roboto-font/style.css);

* {
    box-sizing: border-box;

    padding: 0;
    margin: 0; 
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 auto;
    padding: 0 12px;

    width: 1280px;
    height: 100%;

    background: rgb(246, 246, 246);

    transition: padding .5s;
}

header {
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-wrap: wrap;

    margin-top: 12px;
    padding: 12px;

    border-radius: 6px 12px;

    background: rgb(212, 212, 212);

    transition: margin .5s, padding .5s, border-radius .5s;
}

input {
    padding: 6px;
    margin: 6px;

    width: 156px;

    border: none;
    border-radius: 3px 6px;

    font-family: Roboto Regular, sans-serif;
    font-size: 12pt;

    color: rgb(32, 32, 32);

    background: rgb(246, 246, 246);

    transition: all .5s;
}

input::placeholder {
    color: rgb(212, 212, 212);
    opacity: 1;

    transition: all .5s;
}

input:hover {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

/* Logo du site */
.header-img {
    border-radius: 4px 8px;

    padding: 12px;

    background: rgb(147, 154, 144);

    transition: margin .5s;
}

.header-img img {
    display: block;
}

/* Menu */
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-grow: 1;
}

.menu nav {
    display: flex;

    margin-left: 24px;

    height: 64px;

    font-size: 18pt;
    font-family: Product Sans Medium Regular;

    transition: height .5s;
}

.menu a {
    margin: 0 3px;
    padding: 0 20px;

    line-height: 64px;
    text-decoration: none;
    text-align: center;
    color: rgb(246, 246, 246);

    border-radius: 4px 8px;
    overflow: hidden;

    transform: translateY(0);

    background: rgb(147, 154, 144);

    transition: all .5s;
}

.menu a:first-of-type {
    margin-left: 0;
}

.menu a:last-of-type {
    margin-right: 0;
}

.menu a:before {
    position: absolute;
    visibility: hidden;
    content: '';

    height: 4px;
    width: 100%;
    bottom: 0;
    left: 0;

    transform: scaleX(0);

    background: rgb(0, 124, 187);

    transition: all .3s;
}

.menu a:hover {
	color: rgb(0, 124, 187);
    
    transform: translateY(-4px);
    
    transition: transform .5s;
}

.menu a:hover:before {
    visibility: visible;
    
    transform: scaleX(1);
}

/* Page selectionnee */
a.selected {
    color: rgb(0, 124, 187);
}

a.selected:before {
    position: absolute;
    visibility: visible;
    content: '';

    height: 4px;
    width: 100%;
    bottom: 0;
    left: 0;

    transform: scaleX(1);

    background: rgb(0, 124, 187);

    transition: all .3s;
}

/* Bloc lorsque l'utilisateur n'est pas connecte */
.not_connected {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;

    flex-grow: 1;

    height: 100%;
}

/* Boutons */
.button , .contenu .button {
    display: inline-block;
    cursor: pointer;

    border: none;

    padding: 0 15px;

    line-height: 48px;

    text-decoration: none;
    text-align: center;
    font-family: Product Sans Medium Regular;
    font-size: 12pt;
    color: rgb(246, 246, 246);

    border-radius: 4px 8px;
    overflow: hidden;

    transform: translateY(0);

    background: rgb(147, 154, 144);

    transition: all .5s;
}

div.button, .contenu div.button {
    flex-grow: 0;
    padding: 0;
}

.button a {
    display: block;

    padding: 0 15px;

    text-decoration: none;
    color: rgb(246, 246, 246);
    
    transition: all .5s;
}

.button:before {
    position: absolute;
    visibility: hidden;
    content: '';

    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;

    transform: scaleX(0);

    background: rgb(0, 124, 187);

    transition: all .3s;
}

.button:hover {
	color: rgb(0, 124, 187);
    
    transform: translateY(-3px);
    
    transition: transform .5s;
}

.button a:hover {
    color: rgb(0, 124, 187);
}

.button:hover:before {
    visibility: visible;
    
    transform: scaleX(1);
}

/* Contenu */
.contenu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;

    flex-grow: 1;

    margin-top: 12px;
    padding: 12px;

    text-align: center;

    border-radius: 6px 12px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);

    background: rgb(212, 212, 212);

    transition: margin .5s, padding .5s, border-radius .5s, box-shadow .5s;
}

.contenu div {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-grow: 1;

    padding: 12px;

    border-radius: 4px 8px;

    background: rgb(246, 246, 246);
}

.contenu h2 {
    padding-bottom: 12px;

    text-align: center;
    font-weight: normal;
    font-family: Product Sans Bold;
    font-size: 22pt;
    color: rgb(0, 124, 187);
}

.contenu h3 {
    padding: 12px;
    padding-bottom: 0;
    
    text-align: center;
    font-weight: normal;
    font-family: Product Sans Medium Regular;
    font-size: 18pt;
    color: rgb(0, 124, 187);
}

.contenu p {
    max-width: 800px;

    padding: 12px;

    text-align: center;
    font-family: Roboto Regular, sans-serif;
    font-size: 12pt;
    color: rgb(32, 32, 32);
}

p.amusez_vous {
    color: rgb(0, 124, 187);

    font-family: Product Sans Medium Regular;
    font-size: 14pt;
}

/* Page de Jeu */
.contenu .game {
    flex-grow: 0;

    max-width: 600px;

    background: rgb(212, 212, 212);
}

.game div {
    display: flex;
    flex-direction: row;

    background: none;
}

.game img {
    padding: 6px;

    object-fit: cover;

    width: 252px;
    height: 332px;
    border-radius: 3px 6px;

    background: rgb(246, 246, 246);
}

.game div .button:before {
    height: 0px;
}

.game div .button.next:before {
    height: 3px;
}

.game div .button:first-of-type {
    margin-right: 12px;
}

.game div .button.true {
    background: rgb(68, 208, 64)
}

.game div .button.false {
    background: rgb(228, 48, 64);
}

.game div .button:disabled {
    cursor: default;
}

.game div .button:hover:disabled {
    color: rgb(246, 246, 246);

    transform: translateY(0);
}

.game .score {
    font-family: Roboto Medium Regular, sans-serif;
    font-size: 16pt;
}

.game .score span {
    font-family: Roboto Bold, sans-serif;
}

/* Formulaires */
.contenu form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding: 12px;

    max-width: 400px;

    border-radius: 4px 8px;

    background: rgb(212, 212, 212);
}

.contenu form h2 {
    align-self: center;
}

.contenu form p {
    padding: 6px 0;
}

.contenu form p:last-of-type {
    padding-bottom: 12px;
}

.contenu form label {
    padding: 0 6px;
}

.contenu input {
    margin: 0;
}

.contenu form .button {
    align-self: center;
}

.imageupload {
    align-self: center;
    padding: 0;
}

.imageupload input {
    display: block;
    width: 0;
    height: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    z-index: -1;
}

.imageupload label {
    display: block;
}

.imageupload img {
    display: table-cell;

    object-fit: cover;

    width: 252px;
    height: 332px;
    border-radius: 3px 6px;

    vertical-align: middle;

    padding: 6px;

    background: rgb(246, 246, 246);

    transition: box-shadow .5s;
}

.imageupload img:hover {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

/* Page de gestion */
div.gestion {
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: wrap;

    max-width: 800px;
    min-height: 620px;
}

.button.delete {
    background: rgb(228, 48, 64);
}

.button.delete:hover {
    color: rgb(147, 154, 144);
}

.button.delete:before {
    background: rgb(147, 154, 144);
}

/* Pied de page */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 12px;
    padding: 6px;
    
    border-radius: 6px 12px 0px 0px;

    background: rgb(212, 212, 212);

    transition: margin .5s, padding .5s, border-radius .5s;
}

footer p {
    padding: 12px;

    font-family: Roboto Regular, sans-serif;
    font-size: 11pt;
    color: rgb(32, 32, 32);
}

footer div:first-of-type {
    max-width: 622px;
}

footer img {
    margin: 12px;

    height: 54px;
}

@media all and (max-width: 1280px)  {
    body {
        width: 100%;
    }
    
    header {
        flex-direction: column;
    }

    .header-img {
        margin-bottom: 12px;
    }

    .menu {
        justify-content: center;

        width: 100%;
    }

    .menu nav {
        margin-left: 0;
        margin-right: 6px;
    }
}

@media all and (max-width: 900px) {
    .menu nav {
        font-size: 16pt;
    }

    .menu a {
        padding: 0 15px;
    }
}

@media all and (max-width: 768px) {
    body {
        padding: 0;
    }

    header {
        margin: 0;
        padding: 12px 0 0 0;

        border-radius: 0;
    }

    .menu {
        justify-content: stretch;
    }

    .menu nav {
        justify-content: stretch;

        flex-grow: 1;

        margin-right: 1px;

        font-size: 14pt;
    }

    .menu a {
        flex-grow: 1;

        margin: 0 0 0 1px;

        border-radius: 0;
    }

    .menu a:last-of-type {
        margin-right: 1px;
    }

    .menu button.button {
        line-height: 64px;
        
        font-size: 14pt;

        border-radius: 0;
    }

    .menu button.button:before {
        height: 4px;
    }

    .contenu {
        margin: 0;
        padding: 0;

        border-radius: 0;

        box-shadow: none;
    }

    .contenu>div {
        border-radius: 0;
    }

    footer {
        margin: 0;

        border-radius: 0;
    }
}

@media all and (max-width: 655px) {
    .menu {
        flex-direction: column;
        align-items: stretch;
    }

    .menu nav {
        flex-direction: column;

        margin-right: 0;

        height: auto;
    }

    .menu a {
        margin: 0 0 1px 0;
    }

    .menu a:hover {
        transform: translateY(0);
    }

    .menu button.button {
        transform: translateY(0);
    }

    footer {
        flex-direction: column;
    }
}

@media all and (max-width: 382px) {
    header {
        padding-top: 0;
    }

    .header-img {
        width: 100%;

        margin-bottom: 1px;

        border-radius: 0;
    }

    .header-img img {
        max-width: 100%;
        max-height: 100%;
    }
}